.Smotto {
  width: 400px;
  height: 600px;
  overflow: hidden;
}

.Smotto-img {
  transition: all 400ms ease-out;
}

.Smotto-enter {
  opacity: 0.01;
}

.Smotto-enter.Smotto-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in;
}

.Smotto-leave {
  opacity: 1;
}

.Smotto-leave.Smotto-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
