.Timeline {
  width: 80vw;
  margin-top: 2em;
}

@media screen and (max-height: 900px) {
  .Timeline {
    position: fixed;
    bottom: 2em;
  }
}

.Timeline-axe {
  background-color: #ffffff;
  height: 2px;
  width: 100%;
}

.Timeline-pointer {
  transition: all 400ms ease-out;
  margin-top: -10px;
  height: 20px;
  width: 2px;
  background-color: #ffffff;
  position: relative;
}

.Timeline-date {
  font-size: 60%;
  left: -1.5em;
  top: -1.5em;
  position: absolute;
  text-align: center;
  width: 3em;
}
