.Timeline {
  width: 80vw;
}

.Timeline-axe {
  background-color: #ffffff;
  height: 2px;
  width: 100%;
}

.Timeline-pointer {
  transition: all 400ms ease-out;
  margin-top: -10px;
  height: 20px;
  width: 2px;
  background-color: #ffffff;
}
